 body {
   /* background-image: url('background-img.jpg') */
   background-color: black;
}

h1 {
text-align: center;
color: lightblue;
}

fieldset {
    border: 1px solid blue;
    margin-top: 25px;
    background-color: lightblue;
    color: black;
}

.btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    font-size: 20px;
}
